= render :partial => 'layouts/content'
%div.content.clearfix
	.section.main
		.section-header
		%h1 Audit
		.section-content
			%div.container-fluid
				%div.row-fluid
					%div.span12
						%div.widget
							%table.table
								%thead 
									%tr.row
									%th Reference
									%th Origin
									%th Topic
									%th Standard
									%th Status
									%th Responsible