/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_font-awesome
 *= require_tree .
 *= require bootstrap_and_overrides
 */
.widget .header .widget-action.widget-showhide a {
    width: 30px;
    height: 30px;
    padding: 0px;
    opacity: 0.5;
    transition: opacity 0.3s ease 0s;
}

